body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

/* Header */
header {
    background-color: #00b20c;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    width: 80%;
    margin: 30px auto;
}

.container h2 {
    background-color: #138007;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Report Box */
.report-box {
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(15, 243, 125, 0.1);
}

/* Form Styling */
.input-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 6px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #79de76;
}

/* Submit Button */
.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #00b20c;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #138007;
}